*{
    margin: 0%;
    padding: 0%;
}

@font-face {
    font-family: IRAN;
    src: url(../fonts/IRAN/IRANYekanWeb-Medium.eot);
    src: url(../fonts/IRAN/IRANYekanWeb-Medium.ttf);
    src: url(../fonts/IRAN/IRANYekanWeb-Medium.woff);
    src: url(../fonts/IRAN/IRANYekanWeb-Medium.woff2);
}